*{
padding:0;
margin:0;
}
.container{
width:100%;
height:100%;
background-color:#fff;
overflow:hidden;
}
.header{
height:60px;
position:relative;
}
.logo{
 display:inline-block;
 margin-left:56px;
 height:50px;
 width:165px;
}
.logo h1{
  color:#000;
  font-family:"SimHei";
  font-size:21px;
  margin-left:55px;
  margin-top:-50px;
}
.nav{
  position:absolute;
  margin-top:-75px;
  right:65px;
  height:50px;
  width:597px;
}
.nav a{
  text-decoration:none;
  font-family:"Microsoft Yahei";
  font-size:14px;
  color:#000;
}
.nav ul li{
  display:inline-block;
  list-style:none;
  margin-left:45px;
}
.nav ul li span{
  color:#e74f4d;
  text-indent:10px;
}
.one {
 height:688px;
 position:relative;
}
.one img{
 width:100%;
 height:100%;
}
.open{
 position:absolute;
 width:455px;
 height:265px;
 top:225px;
 left:118px;
}
.open h1{
 font-family:"Microsoft Yahei";
 font-size:60px;
 color:#fff;
 text-transform:uppercase;
 font-weight:lighter;
}
.open p{
 text-indent:7px;
 font-family:"Microsoft Yahei";
 font-size:21px;
 color:#fff;
 line-height:3em;
}
.open a{
 text-decoration:none;
 display:block;
 padding:16px 100px;
 margin:15px;
 background-color:#e7504d;
 font-family:"Microsoft Yahei";
 font-size:30px;
 text-align:center;
 color:#fff;
 letter-spacing:3px;
}
 
