*{
padding:0;
margin:0;
}
.container{
width:100%;
height:100%;
background-color:#fff;
overflow:hidden;
}
.header{
height:60px;
position:relative;
}
.logo{
 display:inline-block;
 margin-left:56px;
 height:50px;
 width:165px;
}
.logo h1{
  color:#000;
  font-family:"SimHei";
  font-size:21px;
  margin-left:55px;
  margin-top:-35px;
}
.nav{
  position:absolute;
  margin-top:-60px;
  right:65px;
  height:50px;
  width:650px;
}
.nav a{
  text-decoration:none;
  font-family:"Microsoft Yahei";
  font-size:14px;
  color:#000;
}
.nav ul li{
  display:inline-block;
  list-style:none;
  margin-left:45px;
}
.nav ul li span{
  color:#e74f4d;
  text-indent:10px;
}
.one {
 height:688px;
 position:relative;
}
.one img{
 width:100%;
 height:100%;
}
.open{
 position:absolute;
 width:455px;
 height:265px;
 top:225px;
 left:118px;
}
.open h1{
 font-family:"Microsoft Yahei";
 font-size:60px;
 color:#fff;
 text-transform:uppercase;
 font-weight:lighter;
}
.open p{
 padding-left:7px;
 font-family:"Microsoft Yahei";
 font-size:21px;
 color:#fff;
 line-height:2em;
}
.open a{
 text-decoration:none;
 display:block;
 padding:16px 100px;
 margin:15px;
 background-color:#e7504d;
 font-family:"Microsoft Yahei";
 font-size:30px;
 text-align:center;
 color:#fff;
 letter-spacing:3px;
}
.two{
 height:250px;
 background-color:#fff;
 position:relative;
}
.circle,.flag,.flower,.square{
 height:250px;
 width:25%;
 float:left;
}
.two p{
 font-family:"Simhei";
 font-size:14px;
 color:#767777;
 text-align:center;
 padding-top:40px;
 border-right:1px solid;
}
.three{
 height:700px;
 position:relative;
}
.three img{
  width:100%;
  height:700px;
}
.three h1{
 font-family:"Microsoft Yahei";
 font-size:53.59px;
 position:absolute;
 top:225px;
 width:100%;
 color:#323333;
 font-weight:lighter;
 text-align:center;
}
.find h2{
 font-family:"Microsoft Yahei";
 font-size:21px;
 color:#fff;
 text-align:center;
 position:absolute;
 top:405px;
 width:100%;
}
.find hr{
 border:2px solid #fff;
 width:28px;
 top:460px;
 position:absolute;
 left:48%;
 text-align:center;
}
.find p{
 font-family:"Microsoft Yahei";
 font-size:12px;
 color:#fff;
 text-align:center;
 position:absolute;
 top:465px;
 margin:30px auto;
 width:100%;
}
.find ul{
 position:absolute;
 margin-top:20px;
 top:530px;
 width:100%;
 text-align:center;
}
.find ul li{
 list-style:none;
 float:left;
 width:25%;
 color:#fff;
}
.find ul li input{
 width:80%;
 line-height:35px;
 font-size:15px;
 padding-left:5px;
 height:35px;
 outline-color:#e7504d;
 border:none;
 font-family:"Microsoft Yahei";
}
.pictures{
 background-color:#f8f8f7;
 padding-top:100px;
 height:607px;
}
.pictures ul{
 width:80%;
 list-style:none;
 margin:0 auto;
}
.pictures ul li{
 width:20%;
 float:left;
 margin:0 2%;
 text-align:center;
}
.pictures ul li h3{
 color:#3a3a3a;
}
.pictures ul li p{
 color:#919191;
 font-size:12px;
}
.twobarline{
  width:100%;
  position:relative;
}
.pants{
 width:66%;
 height:100%;
 float:left;
}
.pants img{
 width:100%;
 height:100%;
}
.fonts1{
 top:80px;
 position:absolute;
 line-height:85px;
 left:15%;
}
.fonts1 h1{
 font-size:49.47px;
 color:#fff;
 font-family:"Microsoft Yahei";
 width:100%;
 text-align:center;
}
.en{
 text-transform:uppercase;
 font-size:157.79px;
 font-family:"Microsoft Yahei";
 color:#fff;
 width:100%;
 text-align:center;
}
.caption1,.date{
  font-size:21.91px;
  font-family:"Microsoft Yahei";
  color:#fff;
  width:100%;
  text-align:center;
}
.rightside{
 float:left;
 width:34%;
 background-color:#fff;
 position:relative;
}
.up1 h3{
 font-size:21px;
 font-family:"Microsoft Yahei";
 color:#000;
 width:100%;
 position:absolute;
 top:80px;
 text-align:center;
}
.up1 span{
 color:#e7504d;
 letter-spacing:0.5em;
}
.up1 p{
 font-size:12px;
 font-family:"Microsoft Yahei";
 position:absolute;
 top:150px;
 line-height:2em;
 width:80%;
 left:10%;
 text-align:center;
}
.down1{
 border:1px solid #e7504d;
 position:absolute;
 top:305px;
 color:#e7504d;
 left:35%;
}
.down1 p {
 font-size:15px;
 font-family:"Microsoft Yahei";
 padding:10px 30px;
 letter-spacing:1.5em;
}
.dot{
 width:40%;
 position:absolute;
 top:365px;
 left:30%;
 list-style:none;
 height:10px;
}
.dot li{
 box-sizing:border-box;
 float:left;
}
.dot i{
 display:inline-block;
 border:1px solid #ccc;
 height:10px;
 border-radius:50%;
}
.dot.on{
 background-color:#ccc;
}
.colorband{
 height:520px;
 width:100%;
 position:relative;
 clear:both;
}
.colorband li{
 list-style:none;
 float:left;
 width:33.3%;
 height:150px;
 text-align:center;
 padding-top:170px;
 padding-bottom:200px;
 overflow:hidden;
}
.colorband li:last-child{
 width:33.3%;
 background-image:url(IFE/Task-7/task7 (3).jpg) no-repeat center center;
 background-size: 100% 100%;
}
.colorband li p{
 font-size:25px;
 font-family:"Microsoft Yahei";
 line-height:32px;
}
.red{
 background-color:#e7504d;
 color:#fff;
}
.colorband button{
 color:#e7504d;
 border:1px solid #e7504d;
 margin-top:10px;
 padding:10px 30px;
 font-size:25px;
 background-color:#fff;
}
.red button{
  color:#fff;
  border:1px solid #fff;
  background-color:#e7504d;
}
.voluteer{
 padding-top:100px;
 padding-bottom:100px;
 text-align:center;
}
.voluteer h2{
 font-family:"SimHei";
 font-size:21px;
 color:#000;
}
.voluteer hr{
 border:2px solid #e7504d;
 width:5px;
}
.volunteer p{
 font-size:12px;
 font-family:"Microsoft Yahei";
 width:60%;
 color:#000;
 width:25%;
}
.left3{
 float:left;
 width:25%;
 margin-left:10%;
}
.left3 ul{
 list-style:none;
}
.left3 li{
 color:#ccc;
 padding:10px;
}
.left3 h4{
 font-size:20px;
 line-height:20px;
 color:#979594;
}
.left3 p{
 padding:5px;
}
.left3 a{
 text-decoration:none;
 color:#ccc;
 padding:5px 11px;
 display:block;
 text-align:right;
 cursor: pointer;
}
.right3{
 float:left;
 width:60%;
}
.right3 table{
 border:none;
 width:100%
}
.right3 table tr{
 height:50px;
 background-color:#ededee;
}
.right3 table td{
 padding-left:15px;
}
.right3 table td input{
 border:none;
 outline:none;
 height:40px;
 background-color:#ededee;
}
.right3 table td textarea{
 padding-top:15px;
 width:100%;
 background-color:#ededee;
 outline:none;
 border:none;
}
.right3 table td .submit{
 width:100%;
 text-align:center;
}
footer{
 position:relative;
 width:100%;
 color:#fff;
 padding-top:90px;
 text-align:center;
 background-color:#33363F;
}
footer p{
 margin:10px auto;
 font-size:10px;
 line-height:25px;
 width:60%;
}
footer input {
    margin: 20px -5px;
    outline: none;
    height: 40px;
    line-height: 40px;
    border: none;
}

footer .email {
    width: 40%;
    padding-left: 5px;
}

footer .submit {
    color: #717179;
    width: 80px;
}
footer img{
 margin-top:15px;
}
footer.newworld{
 text-align:left;
 padding:15px 30px;
 background-color:#303039;
}
footer a{
 text-decoration:none;
}
footer .back{
 position:absolute;
 display:inline-block;
 bottom:15px;
 right:30px;
 cursor:pointer;
}
 
