*{
padding:0;
margin:0;
}
.container{
width:100%;
height:100%;
background-color:#fff;
}
.header{
height:60px;
position:relative;
}
.logo{
 display:inline-block;
 margin-left:56px;
 height:50px;
}
.logo img{
  margin-right:10px;
}
.logo h1{
  color:#000;
  font-family:"SimHei";
  font-size:21px;
  float:left;
}
.nav{
  position:absolute;
  top:auto;
  right:65px;
}
.nav a:{
  text-decoration:none;
  font-family:"Microsoft Yahei";
  font-size:14px;
  color:#fff;
}
.nav ul li{
  display:inline-block;
  list-style:none;
  margin:45px;
}
.nav ul li span{
  color:#e74f4d;
}
