body{
  margin:0 30px;
  padding:0;
  background-color:#000;
}
.header,.footer{
  position:relative;
  width:100%;
  height:30px;
  background-color:#ccc;
  padding:5px;
  display:block;
}
.header h1{
  color:#fff;
  font-family:Century Gothic;
}
.narv_links {
  color:yellow;
  font-family:Verdana;
  text-decoration:none;
  size:0.5em;
  float:right;
  display:inline-block;
}
