*{
  margin:0;
  padding:0;
}
body{
  background-color:#000;
}
.header,.footer{
  position:relative;
  width:100%;
  background-color:#ccc;
  display:block;
  margin:0 20px;
  padding:10px;
  overflow:hidden;
}
.header h1, .footer{
  color:#fff;
  font-family:Century Gothic;
}
.narv_links {
  position:absolute;
  top：10px;
  right:10px;
}
.narv_links li{
  color:#fff;
  font-family:Verdana;
  display:inline;
}
.footer{
 text-align:center;
 size:2em;
}
#sidebar,#Part_1,#Part_2,#Part_3,#Part_4{
  background-color:#ccc;
  padding:10px;
  margin:20px;
  box-shadow:10px 10px 5px #ccc;
}
#Part_1{
  margin-top:0;
}
