*{
font-family:"Microsoft Yahei";
box-sizing:border-box;
}
.header{
width:100%;
z-index:999;
background-color:#2189bf;
position:fixed;
height:64px;
dispaly:flex;
align-items:center;
padding-left:60px;
padding-right:100px;
}
.header search-bar{
border-radius:50px;
height:30px;
background-color:#fff;
padding:0 20px;
display:flex;
margin-right:20px;
}
.sidebar{
width:300px;
position:fixed;
left:0;
top:0;
backgroundcolor:#2b2e3d;
padding-top:80px;
}
.file-path{
background-color:#fff;
height:30px;
width:100%;
padding-left:40px;
position:fixed;
top:64px;
left:300px;
display:flex;
align-items:center;
}
.main{
background-color:#eeeeed;
padding-left:360px;
padding-top:114px;
padding:right:60px;
}
