body{
  background-color:#767777;
  font-family:"Microsoft Yahei";
  color:#767777;
  font-size:12px;
  margin:0 auto;
}
*{
  padding:0;
  margin:0;
}
.container{
  background-color:#fff;
  width:891px;
  height:1386px;
  padding:0 45px;
  margin:40px auto;
}
header{
  margin-bottom:30px;
  position:relative;
}
.ife{
  background-color:#d45d5c;
  height:61px;
  width:110px;
  position:relative;
}
.ife p {
  font-family:"SimHei";
  color:#fff;
  position:absolute;
  bottom:6px;
  left:6px;
}
.date{
  font-family:"SimHei";
  color:#d45d5c;
  position:absolute;
  right:0;
  bottom:6px;
}
.lineone{
  border:2px solid #938e8c;
  margin-top:0;
}
.one{
  position:relative; 
}
.img1{
  width:641px;
  height:301px;
}
.colorleft{
  background:#75b86b;
  opacity:0.5;
  width:191px;
  height:301px;
  position:absolute;
  top:0;
}
.colorright{
  background:#d45d5c;
  opacity:0.5;
  width:191px;
  height:301px;
  position:absolute;
  top:0;
  right:252px;
}
.fonts1{
 width:203px;
 height:301px;
 position:absolute;
 right:0;
 top:0;
}
.fonts1 hr{
  border:2px solid #cc8091;
}
.fonts1 h2{
  font-size:24px;
  color:#000;
  text-decoration:underline;
  line-height:40px;
}
.fonts1 h2 span{
  font-size:30px;
}
.caption{
  color:#676767;
  font-family:"KaiTi";
  line-height:10px;
}
.num1{
  font-size:116px;
  color:#75b86b;
  text-decoration:underline;
  font-style:italic;
  position:absolute;
  top:100px;
  left:0;
}
.below1{
  position:relative;
}
.num2{
  font-size:55px;
  color:#cc8091;
  position:absolute;
  bottom:0;
  left:11px;
}
.css{
  font-size:21px;
  color:#cc8091;
  position:absolute;
  bottom:12px;
  left:91px;
}
.css2{
  position:absolute;
  bottom:0;
  left:91px;
}
  
